<div class="col-12 col-md-6">
  <div class="card border-dark mb-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      Booking for: <%= booking.space.title %>
      <% if booking.approved %>
        <span class="badge badge-pill badge-success">Approved</span>
      <% else %>
        <span class="badge badge-pill badge-warning">Pending</span>
      <% end %>
    </div>
    <div class="card-body text-dark">
     <p><%= "#{booking.start_date} to #{booking.end_date}" %></p>
     <%= link_to "View space", space_path(booking.space), class:"btn btn-primary"  %>
    </div>
  </div>
</div>

