// Specific CSS for your home-page
#search-bar {
  width: 300px;
  background-color: $light-gray;
  opacity: 1;
}
.banner .btn-success {
    color: white;
    background-color: $dark-green;
    border-color: $dark-green;
}

.container h3 {
  color: $dark-green;
}

footer {
  border-top: 1px solid #d6d6d6;
}



body {
  min-height: 100vh;
}
