// Specific CSS for your home-page
.jumbotron{
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0px;
  color: #16302B;
  height: 300px;
}

p {
  color: #16302B;
}

#search-bar {
  width: 300px;
  background-color: $light-gray;
  opacity: .9;
}

.jumbotron .btn-success {
    color: white;
    background-color: #16302b;
    border-color: #16302b;
}

footer {
  border-top: 1px solid #d6d6d6;
}

body {
  min-height: 100vh;
}
