#map {
  position: sticky;
  top: 0;
}

.space-wrapper>.col-6 {
  padding: 0;
}

.space-wrapper .btn-success {
    color: $dark-green;
    background-color: transparent;
    border-color: $dark-green;
    border: none;
    font-size: .9em;
    padding: .3em .6em;
    &:hover {
      background-color: $success;
      border-color: $success;
    }
}

.mapboxgl-popup {
  max-width: 200px;

  h2 {
    font-size: 1.2em;
    a {
      color: inherit;
    }
  }
  img {
    height: 100px;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.mapboxgl-popup-content {
  text-align: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.32);
}

.list-group {
  h2 {
    font-size: 1em;
  }
  p {
    margin-bottom: .5em;
  }
   li {
    height: 140px;
  }
}


.list-img-container {
  width: 30%;
  height: 100%;
}

.list-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
