<div class="spaces">
  <% @spaces.each do |space| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1668860/pexels-photo-1668860.jpeg?cs=srgb&dl=round-brown-wooden-table-with-chairs-inside-room-1668860.jpg&fm=jpg)">
      <%= space.title %>
      <%= space.description %>
      <%= link_to "Show", space_path(space) %>
    </div>
  <% end %>
</div>
