</div>
<div class="jumbotron jumbotron-fluid" style="background-image: linear-gradient(to bottom, rgba(180,180,180,0.6) 0%,rgba(240,240,240,0.9) 100%), url(https://cdn.pixabay.com/photo/2016/11/22/19/24/archive-1850170_960_720.jpg
)">
  <div class="container">
    <h1 class="display-4">Welcome to Acornr</h1>
    <p class="lead">Find a corner in any city to safely store your things.</p>
  </div>
</div>
<div class="container">
<p>Recently created spaces.</p>
<div class="row">
  <% @spaces.each do |space| %>
    <%= render 'spaces/space-card', space: space %>
  <% end %>
</div>
</div>
<div class="position-relative d-flex flex-row-reverse flex-lg-row flex-wrap flex-lg-nowrap flex-justify-center flex-lg-justify-between pt-6 pb-2 mt-6 f6 text-gray border-top border-gray-light ">
</div>
<div class="footer-image">
<footer class="d-flex justify-content-center mb-3 mt-3">
  <ul> ©2020 Acornr</ul>
  <ul><i class="fab fa-facebook-f"></i></ul>
  <ul><i class="fab fa-instagram"></i></ul>
  <ul><i class="fab fa-twitter"></i></ul>
</footer>
</div>

