</div>
<div class="banner" style="background-image: linear-gradient(to top, rgba(0,0,0,.2) 0%,rgba(0,0,0,.2) 100%), url(<%= image_path'banner.jpg', crop: :fill %>)">
  <div class="container">
    <h1>Welcome to Acornr</h1>
    <h4>Find a friendly corner to safely store your things.</h4>
    <form class="form-inline">
      <div class="form-group">
        <input type="text" placeholder="Search for a space near you..." id="search-bar" class="form-control" aria-describedby="passwordHelpInline">
        <input type="button" value="search" class="btn btn-success">
      </div>
    </form>
  </div>
</div>

<div class="container">
<h3 class="mb-3">Recently opened spaces</h3>
<div class="row">
  <% @spaces.each do |space| %>
    <%= render 'spaces/space-card', space: space %>
  <% end %>
</div>
</div>


