</div>
<div class="banner">
  <div class="container">
    <h1>Welcome to Acornr</h1>
    <h4>Find a friendly corner to safely store your things.</h4>
    <%= simple_form_for :search, url: spaces_path, method: :get, html: {class: 'form-inline'} do |f| %>
        <%= f.input :place, input_html: {value: "", id:'search-bar'} %>
        <%= f.submit %>
    <% end %>

  </div>
</div>

<div class="container">
<h3 class="mb-3">Recently opened spaces.</h3>
<div class="row">
  <% @spaces.each do |space| %>
    <%= render 'spaces/space-card', space: space %>
  <% end %>
</div>
</div>


