.button-home {
background-color: #B0FFA5;
border-radius: 4px;
height: 40px;
width: 100px;
color: #232323;
text-decoration: none;
padding: 0px;
display: flex;
justify-content: center;
position: absolute;
border: solid 0.1px white;
padding: 8px;
}
