.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 85px;
}
.navbar {
  background-color: #16302B;
  height: 80px;
}
.navbar-light .navbar-nav .nav-link {
  color: #B0FFA5;
}
.nav-text {
  color: #B0FFA5;
  margin: 10px;
}
