.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 100%;
}
.navbar {
  background-color: #16302B;
  height: 64px;
}
.navbar-light .navbar-nav .nav-link {
  color: #B0FFA5;
}
.nav-text {
  color: #B0FFA5;
  margin: 10px;
}
.nav-text :hover{
  color: white;
  text-decoration: none;
}
.navbar-brand {
  height: 32px;
  padding: 0 8px;
}
