
.nav-link {
  color: $dark-green;
  &:hover {
    background-color: #DEDDE2;
    color: $dark-green;
  }
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: $green;
  background-color: $dark-green;
}
