.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  cursor: pointer;
}

.navbar-lewagon .navbar-brand img {
  height: 100%;
}
.navbar {
  background-color: #16302B;
  height: 80px;
}
.navbar-light .navbar-nav .nav-link {
  color: #B0FFA5;
}
.nav-text {
  color: #B0FFA5;
  margin: 10px;
  cursor: -webkit-grabbing; cursor: grabbing;
}
.navbar-brand {
  height: 100%;
  padding: 0;
}
