.simple-form {
  font-family: Raleway;
}
#space_title {
  background-color: white;
  border-radius: 10px;
  color: white;
  box-shadow: 2px 2px 1px #e4e4e4;
}
#space_description {
  background-color: white;
  border-radius: 10px;
  color: white;
  box-shadow: 2px 2px 1px #e4e4e4;
}

#space_address {
  background-color: white;
  border-radius: 10px;
  color: white;
  box-shadow: 2px 2px 1px #e4e4e4;
}

#space_price {
  background-color: white;
  border-radius: 10px;
  color: white;
  box-shadow: 2px 2px 1px #e4e4e4;
}
