.space-card-img {
  height: 400px;
  object-fit: cover;
  object-position: center;

}
.card {
  box-shadow: 5px 5px 5px #e4e4e4;
}

.address {
  font-size: .9em;
}

.space-card {
  position: relative;
}

.view-space-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.space-show-img {
  height: 600px;
  object-fit: cover;
  object-position: center;
}

 .card-price {
//   border: solid white 0.1px;
     background-color: $dark-green;
//   width: 100px;
//   height: 32px;
//   text-align: center;
     color: white;
//   float: right;
    box-shadow: 5px 5px 5px #e4e4e4;
    border-radius: 20px;
    font-size: 20px;
}
