.space-card-img {
  height: 400px;
  object-fit: cover;
  object-position: center;

}
.card {
  box-shadow: 5px 5px 5px #e4e4e4;
}

.address {
  font-size: .9em;
}

.space-card {
  position: relative;
}

.view-space-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

