.space-card-img {
  height: 350px;
  object-fit: cover;
  object-position: center;
}

.address {
  font-size: .9em;
}

.space-card {
  position: relative;
}

.view-space-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
